/* Custom CSS for the toast */
.custom-toast-tutorial {
    max-width: 80vw; /* Adjust the width as per your preference */
  }
  
  /* Custom CSS for the toast content to make it scrollable */
  .custom-toast-content-tutorial {
    max-height: 80vh; /* Set the maximum height for scrollability */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
  }
  